body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  color: rebeccapurple;
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
  margin: 20px 20px; /* Space above and below */
}

.article-heading {
  color: rebeccapurple;
}

.header-image-container {
  margin: auto;
  width: fit-content;
}

.header-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.content-img {
  max-width: 100%;
  height: auto;
}

.footer-bottom {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #4a5568;
  text-align: center;
  color: #a0aec0;
}

/* App page styles */

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

#result {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  display: none;
}

.calculator {
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 1rem;
}

.meme-img {
  height: 400px;
  width: 400px;
}

/* Poke-app page styles */
.pokemon-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.error {
  color: red;
  font-weight: bold;
}
